
.cart {
    position: fixed;
    top: 85%;
    right: 8px;
    z-index: 1;
    border-radius: 121px 121px 121px 121px;
    -moz-border-radius: 121px 121px 121px 121px;
    -webkit-border-radius: 121px 121px 121px 121px;
    border: 0px none #000000;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,9,121,0.8670021657193645) 42%, rgba(0,212,255,1) 100%);
    opacity:0.9;
    transition: 0.5s;
} 

.cart:hover {
    opacity:1;
    transform: scale(1.2, 1.2);
}


.cart-count {
    position: absolute;
    top: -6px;
    right: -7px;
    height: 28px;
    width: 28px;
    font-size: 1.1333em;
    padding-top:1px;
    color: white;
    background:red;
    font-weight: 700;
    border-radius: 80%;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s,-webkit-transform .2s .5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.productlist {
    height: 600px;
    overflow-y:auto;
}

a:hover {
    text-decoration: none;
}

.priceproduct {
    position: absolute;
    top: 75%;
}

.productall {
    transition: 0.2s;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
}
.productall:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: scale(1.01);
}


@media (max-width: 800px){
    body {
        font-size: small;
    }
    h4 {
        font-size: medium;
    }
    p {
        font-size: small;
    }
    h5 {
        font-size: small;
    }
   .cart {
       width:75px;
       height:50px;
       right:-10px;
   } 
   .cart-count {
    height: 25px;
    width: 25px;
    font-size: 1em;
   }
   .cart img {
       width:50px;
       margin-top:-20px;
       margin-left:-10px;
       
   }

   #logout {
       font-size:medium;
   }
   #homeicon {
       font-size:large;
       margin-left:0px;
       padding-top:5px;
   }
}